.navbar {
  background: rgb(69,87,108);
background: linear-gradient(270deg, rgba(69,87,108,1) 9%, rgba(94,108,130,1) 17%, rgba(77,96,124,1) 26%, rgba(86,105,133,1) 31%, rgba(112,127,154,1) 41%, rgba(128,142,166,1) 51%, rgba(100,115,143,1) 57%, rgba(100,115,143,1) 69%, rgba(83,94,119,1) 81%);
    padding: 10px 0;
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  