body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://bit.ly/2gPLxZ4);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.App {
  margin-top: 200px;
  opacity: 0; 
  animation: fade-in 1s ease-in-out forwards; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blurred-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 350px;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0; 
  animation: fade-in-blurred-box 1s ease-in-out forwards;
}

@keyframes fade-in-blurred-box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blurred-box:after {
  content: '';
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
  opacity: 0; 
  animation: fade-in-blur-box-after 1s ease-in-out forwards; 
}

@keyframes fade-in-blur-box-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-login-box {
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 1;
  opacity: 0; 
  animation: fade-in-user-login-box 1s ease-in-out forwards; 
}

@keyframes fade-in-user-login-box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-login-box > * {
  display: inline-block;
  width: 200px;
  opacity: 0; 
  animation: fade-in-user-login-box-items 1s ease-in-out forwards; 
}

@keyframes fade-in-user-login-box-items {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-icon {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url('../images/jb.jpeg');
  opacity: 0; 
  animation: fade-in-user-icon 1s ease-in-out forwards; 
}

@keyframes fade-in-user-icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-name {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  opacity: 0; 
  animation: fade-in-user-name 1s ease-in-out forwards; 
}

@keyframes fade-in-user-name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input.user-password {
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  opacity: 0; 
  animation: fade-in-user-password 1s ease-in-out forwards; 
}

@keyframes fade-in-user-password {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-button {
  margin-top: 15px;
  opacity: 0; 
  animation: fade-in-login-button 1s ease-in-out forwards; 
}

@keyframes fade-in-login-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forgot-password {
  opacity: 0; 
  animation: fade-in-forgot-password 1s ease-in-out forwards; 
}

@keyframes fade-in-forgot-password {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.create-account {
  opacity: 0; 
  animation: fade-in-create-account 1s ease-in-out forwards;
}

@keyframes fade-in-create-account {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.password-image {
  width: 250px; 
  height: 250px; 
}

.alert {
  background-color: rgba(255, 0, 21, 0.5);
  color: black; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 300px;
  margin-left: 483px;
  margin-top: -72px;
  font-weight: bold;
}




@media (max-width: 768px) {
  .alert {
    background-color: rgba(255, 0, 21, 0.5); 
    color: black; 
  color: #000000; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 300px;
  margin-left: 90px;
  margin-top: -72px;
  font-weight: bold;
}

}

.spin-image {
  animation: spin-and-move 4s linear infinite;
}

@keyframes spin-and-move {
  0% {
    transform: rotate(0deg) translate(0, 0) scale(1);
  }
  25% {
    transform: rotate(90deg) translate(200px, 0) scale(1.5);
  }
  50% {
    transform: rotate(180deg) translate(200px, 200px) scale(1);
  }
  75% {
    transform: rotate(270deg) translate(0, 200px) scale(1.5);
  }
  100% {
    transform: rotate(360deg) translate(0, 0) scale(1);
  }
}


